# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Conda
.conda/
*.lock

# Data outputs (keep raw & processed structure, ignore contents if needed)
data/interim/*
data/processed/*
outputs/*

# Excel temp files
~$*.xlsx

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Logs
*.log
